.mainContainer {
  display: flex;
  flex-direction: column;
  width: 643px;
  gap: 16px;
  padding: 16px;
  margin: 16px auto;
}

.searchContainer {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}

.searchInput {
  flex: 1;
}

.movieList {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.movieCard {
  gap: 10px;
  display: flex;
  width: 610px;
}

.genresContainer {
  display: flex;
  gap: 8px;
  padding-top: 18px;
}

.movieRuntimeContainer {
  padding-top: 18px;
  display: flex;
  align-items: center;
}

.movieRuntime {
  height: 18px;
  margin-left: 3px;
}

.runtimeIcon {
  height: 18px;
}

.drawerContainer {
  display: flex;
  flex-direction: row;
  padding: 18px;
  width: 50vw;
}

.drawerContent {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.drawerPoster {
  width: 200px;
  margin-top: 18px;
  cursor: pointer;
}
